.section1 ul li:nth-child(odd){
    background-color: blue;
}
.section1 ul li:nth-child(even){
    background-color: red;
}
.section1 ul li:nth-child(3n){
    background-color: pink;
}
.section1 ul li:nth-child(3n +10){
    background-color: purple;
}

.section2 ul li:before{
content: ' - ';
background-color: red;
color: white;
display: block;

}
p::first-letter{
    font-size: 50px;
    display: block;
    float: left;
    margin: 0 10px 10px 0;
}
p::selection{
background: black;
color: white;

}
p{
    font-size: 24px;
}